/* MAIN SITE STYLES */

/* CONTAINERS */

.container {
    min-height: 85vh;
}

/* TYPOGRAPHY */

.header-text {
    font-size: 1.3em !important;
}

header a:hover {
    text-decoration: none;
}

#application-logo-title i, #application-logo-title h2 {
    font-size: 2em;
}

@media (min-width: 768px) {
    .header-text {
        font-size: 2.5em !important;
    }
}

/* ALERTS */

#message-area {
    color: red;
    background-color: orange;
}

/* FORMS */

#inputs-highest-point-os input[type="number"] {
    width: 40%;
    margin-left: auto;
}

#inputs-highest-point-latlong input[type="number"] {
    width: 45%;
    margin: auto;
}

#input-duration::before {
    content: "1";
    padding-right: 5px;
}

#input-duration::after {
    content: "24";
    padding-left: 5px;
}

/* ANIMATIONS */

.animate-rotate {
    animation: rotation 1.5s infinite;
}

@keyframes rotation {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}

/* TABLES */

.width-100px {
    width: 100px;
}

.width-50px {
    width: 50px;
}

/* BUTTONS */

.logbook-button {
    height: 40px;
    width: 40px;
    padding: 0;
}

.logbook-button i {
    font-size: 40px;
}