/* MAIN SITE STYLES */

/* CONTAINERS */

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* TYPOGRAPHY */

.header-text {
    font-size: 1.3em !important;
}

@media (min-width: 768px) {
    .header-text {
        font-size: 2.5em !important;
    }
}

/* ALERTS */

#message-area {
    color: red;
    background-color: orange;
}

/* FORMS */

#inputs-highest-point-os input[type="number"] {
    width: 40%;
    margin: auto;
}

#inputs-highest-point-latlong input[type="number"] {
    width: 45%;
    margin: auto;
}

#input-duration::before {
    content: "1";
    padding-right: 5px;
}

#input-duration::after {
    content: "24";
    padding-left: 5px;
}

/* ANIMATIONS */

.animate-rotate {
    animation: rotation 1.5s infinite;
}

@keyframes rotation {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}

/* TABLES */

.column-20 {
    width: 20%;
}

.column-80 {
    width: 80%;
}