/* MAIN SITE STYLES */

/* CONTAINERS */

.container {
    min-height: 85vh;
}

/* TYPOGRAPHY */

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, button, th {
    font-family: 'Carter One', cursive;
}

.header-text {
    font-size: 1.3em !important;
}

header a:hover {
    text-decoration: none;
}

#application-logo-title h2 {
    background-color: lightgray;
    padding: 1% 2%;
    border-radius: 10px;
}

#application-logo-title i, #application-logo-title h2 {
    font-size: 2em;
}

#modal-data-primary_terrain, 
#modal-data-participation {
    text-transform: capitalize;
}

#modal-entry td small, #modal-notes {
    font-variant: small-caps;
}

@media (min-width: 768px) {
    .header-text {
        font-size: 2.5em !important;
    }
}

/* ALERTS */

/* FORMS */

form label {    
    font-variant: small-caps;
}

.form-required {
   font-size: larger;
   font-weight: bolder;
}

#inputs-highest-point-os input[type="number"] {
    width: 40%;
    margin-left: auto;
}

#inputs-highest-point-latlong input[type="number"] {
    width: 45%;
    margin: auto;
}

#input-duration::before {
    content: "1";
    padding-right: 5px;
}

#input-duration::after {
    content: "24";
    padding-left: 5px;
}

/* ANIMATIONS */

.animate-rotate {
    animation: rotation 1.5s infinite;
}

@keyframes rotation {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}

/* TABLES */

.width-100px {
    width: 100px;
}

.width-50px {
    width: 50px;    
}

#table-header-details, #table-header-details i {
    line-height: 12px;
    font-size: 1em;
}

th {
    font-size: 1.2em;
    font-weight: 100;
}

/* BUTTONS */

.logbook-button {
    height: 40px;
    width: 40px;
    padding: 0;
}

.logbook-button i {
    font-size: 40px;
    transform: translateY(0);
}

#icon-back-home {
}

/* ICONS */

.material-icons {
    font-size: 2rem;
    transform: translateY(25%);
}

/* BOOTSTRAP OVERIDES */

.logbook-badge {
    font-size: 1.1em;
}