{% extends 'base.html' %}
<!-- Application Frame and Nav -->
{% block main %}
    <div class="row">
        <div class="col bg-light mx-1 pt-3 rounded">
            <div class="row justify-content-between mt-1 mb-2">
                <!-- Header & Nav Row -->
                <div id="application-logo-title" class="col-md mb-3">
                    <span class="mr-4">
                        <a href="{{ url_for('index') }}">
                            {% if title != "Logbook Home" %}
                                <i class="material-icons text-success">arrow_back</i>
                                <i id="icon-back-home" class="material-icons text-success">home</i>
                            {% else %} 
                                <i class="material-icons text-success">home</i>                                                   
                            {% endif %}
                        </a>
                    </span>
                    <h2 class="d-inline text-center">{{ title }}</h2>
                </div>
                <div class="col-md text-center text-md-right">
                    <!-- Nav Buttons -->
                    <nav>                   
                        <a href="{{ url_for('new') }}"><button type="button" class="btn btn-success">New Entry</button></a>
                        <a href="{{ url_for('edit_areas') }}"><button type="button" class="btn btn-primary">Edit Areas</button></a>
                        <a href="{{ url_for('others') }}"><button type="button" class="btn btn-info">Other Users</button></a>
                    </nav> 
                </div>
            </div>
            {% block content %}
            <!-- Page Content -->
            {% endblock %}             
        </div>
    </div>
{% endblock %}