{% extends 'base.html' %}
<!-- Application Frame and Nav -->
{% block main %}
    <div class="row">
        <div class="col bg-light mx-1 rounded">
            <div class="row justify-content-between py-2">
                <!-- Header & Nav Row -->
                <div id="application-logo-title" class="col-md">
                    <a href="{{ url_for('index') }}"><i class="material-icons text-success">home</i></a>
                    <h2 class="d-inline">{{ title }}</h2>
                </div>
                <div class="col-md text-center text-md-right">
                    <!-- Nav Buttons -->
                    <nav>                   
                        <a href="{{ url_for('new') }}"><button type="button" class="btn btn-primary">New Entry</button></a>
                        <a href="{{ url_for('edit_areas') }}"><button type="button" class="btn btn-primary">Areas</button></a>
                        <a href="{{ url_for('others') }}"><button type="button" class="btn btn-info">Others</button></a>
                    </nav> 
                </div>
            </div>
            {% block content %}
            <!-- Page Content -->
            {% endblock %}             
        </div>
    </div>
{% endblock %}