{% extends 'base.html' %}
<!-- Application Frame and Nav -->
{% block main %}
    <div class="row">
        <div class="col bg-light mx-1 rounded">
            <div class="row justify-content-between pt-2">
                <div class="col-md-4">
                    <h2>{{ title }}</h2>
                </div>
                <div class="col-sm-4 text-right">
                    <!-- Nav Buttons -->
                    <nav>                   
                        <a href="{{ url_for('new') }}"><button type="button" class="btn btn-primary">New Entry</button></a>
                        <button type="button" class="btn btn-info">Share</button>
                    </nav> 
                </div>
            </div>
            {% block content %}
            <!-- Page Content -->
            {% endblock %}             
        </div>
    </div>
{% endblock %}