<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Mountain Logbook</title>
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Application CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
</head>
<body class="bg-dark">
    <header class="row">
        <div class="col">
            <h1 class="px-3">The Mountain Logbook</h1>
        </div>
        <div class="col text-right">
            <button type="button" class="btn btn-warning">Logout</button>
        </div>
    </header>
    <div class="container">
        {% block main %}
        <!-- Login page or App Content Here -->
        {% endblock %}
    </div>
    <footer>
        <p class="px-3"><strong>&copy; David Bland 2019</strong></p>
    </footer>
</body>
</html>