<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Mountain Logbook</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/book-favicon.png') }}">
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />    
    <!-- Google Fonts & Icons -->
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Open+Sans&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Application CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
    <!-- CSS requiring dynamic template processing -->
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/background-mountains-1000.jpg') }}");                   
        }
        @media (min-height: 1000px) {
            body {
                background-image: url("{{ url_for('static', filename='images/background-mountains-2000.jpg') }}");
            }
        }
    </style>
    <!-- Meta -->
    <meta name="robots" content="noindex">
</head>
<body class="bg-dark">
    <header class="row px-3 py-1">
        <div class="col-10">
            <a href="{{ url_for('index') }}"><h1 class="text-light header-text">The Mountain Logbook</h1></a>
        </div>
        <div class="col text-right">
            <a href="{{ url_for('logout') }}"><i class="material-icons text-light header-text">exit_to_app</i></a>
        </div>
    </header>
    <div class="container">
        {% block main %}
        <!-- Login page or App Content Here -->
        {% endblock %}
    </div>
    <footer class="text-right text-light px-3 py-2">
        <strong>&copy; David Bland 2019</strong>
    </footer>
    {% block modals %}
    <!-- Area for modals within child templates -->
    {% endblock %}
    <!-- JS Libraries -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}
    <!-- Area for page scripts -->
    {% endblock %}
</body>
</html>