{% extends 'application-frame.html' %}
<!-- Edit and add mountain areas -->
{% block content %}
    <div class="row mb-3">
        <div class="col col-lg-8 m-auto">
            <h4 class="text-center mb-3"><strong>Add or edit areas below <i class="material-icons">arrow_downward</i></strong></h4>
            <div class="row align-items-center">
                <div class="col-md text-center">
                    <p><strong>To add</strong>, simply type an area name (e.g. North York Moors, Isle of Skye etc.) and hit create.</p>
                    <p><strong>To edit</strong>, select an existing area from the dropdown.</p>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-justify">
                                <small class="text-muted">NB. Editing or removing an area will not change any previous logbook entries but will impact your ability to filter for them by area.</small>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
    <div class="row mb-3">    
        <div class="col col-lg-8 m-auto">
            <!-- Flashed or other message Area -->                       
            {% with error_messages = get_flashed_messages() %}                
                    {% if error_messages %} 
                        <div id="message-area" class="alert alert-warning m-3" role="alert">                                                                              
                            {% for message in error_messages %}
                                    {{ message }}
                            {% endfor %}
                        </div> 
                    {% endif %}
            {% endwith %}        
            <!-- Dropdown to select existing mountain area -->
            <form id="form-select-area">
                <div class="form-group">
                    <label for="select-form-area-name">Select area</label>
                    <select class="form-control" id="select-form-area-name" name="area_id" onchange="fillEditForm();" required>
                        <option selected disabled hidden>Select an area...</option>
                        <!-- If area list exists populate the select, otherwise display an error message -->
                        {% if area_list %}
                            {% for area in area_list %}
                            <option value="{{ area._id }}">{{ area.name }}</option>
                            {% endfor %}
                        {% else %}
                            <option disabled>Sorry, no areas found</option>
                        {% endif %}                        
                    </select>
                </div>
            </form>
            <!-- Form to edit mountain area -->
            <form id="form-edit-area" action="{{ url_for('create', create_type='area', reload_page=True) }}" method="POST">
                <div class="form-group">
                    <label for="input-new-area-name">Name</label>                    
                    <input type="text" class="form-control" id="input-new-area-name" name="name" placeholder="Enter a new area name..." required>
                </div>
                <div class="form-row mb-2">
                    <div class="col-4">
                        <a href="{{ url_for('edit_areas') }}"><button type="button" class="btn btn-secondary">Reset</button></a>
                    </div>
                    <div class="col text-right">
                        <a id="button-delete-area" href="" class="d-none"><button type="button" class="btn btn-danger">Delete Area</button></a>
                        <button id="button-submit-edit-form" type="submit" class="btn btn-success">Create Area</button>
                    </div>
                </div>                
            </form>
        </div>        
    </div>      
{% endblock %}
{% block scripts %}
<script>
    // Disable select form submit behavour (don't reload page)
    $('#form-select-area').submit(function(event){
        event.preventDefault();
    });

    // Populate the edit form with a selected area and id, change action and enable delete button
    function fillEditForm() {
        let selectedAreaId = $('#select-form-area-name').val();        
        let selectedAreaName = $(`#select-form-area-name option[value="${selectedAreaId}"]`).text();
        $('#input-new-area-name').val(selectedAreaName);
        $('#button-submit-edit-form').removeClass('btn-success').addClass('btn-warning');
        $('#button-submit-edit-form').text('Update Area');
        let updateAreaUrl = "{{ url_for('update', update_type='area', entity_id='') }}";
        $('#form-edit-area').attr('action', updateAreaUrl + selectedAreaId);
        let deleteAreaUrl = "{{ url_for('delete', delete_type='area', entity_id='') }}"
        $('#button-delete-area').attr('href', deleteAreaUrl + selectedAreaId).removeClass('d-none');
    }
</script>
{% endblock %}