{% extends 'application-frame.html' %}
<!-- Main Logbook Home Page -->
{% block content %}
<div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
                <!-- Meta section 1 -->
                <h3>Hi <em class="text-info">{{ user_stats.display_name }}</em></h3>
                <p><small>Member since: <span class="badge badge-info logbook-badge">{{ user_stats.signup_date }}</span></small></p>
                <p>Browse and edit your entries below, or use the controls above add a new one, edit the areas or see what other people have been up to…</p>               
                <div class="text-right"></div>
        </div>
        <div class="col-lg-4">
                <!-- Meta section 2 -->
                <div class="card">
                        <div class="card-header">
                                <h5 class="card-title text-center text-uppercase mb-0">Your Stats</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <table class="w-100">
                                                <tr>
                                                        <td class="w-75">Number of Entries</td>
                                                        <td class="text-right"><span class="badge badge-info logbook-badge">{{ user_stats.no_of_entries }}</span></td>
                                                </tr>
                                        </table>
                                </li>
                                <li class="list-group-item">
                                        <table class="w-100">
                                                <tr>
                                                        <td class="w-75">Total Distance Walked</td>
                                                        <td class="text-right"><span class="badge badge-info logbook-badge">{{ user_stats.total_dist }} km</span></td>
                                                </tr>
                                        </table>
                                </li>
                                <li class="list-group-item">
                                        <table class="w-100">
                                                <tr>
                                                        <td class="w-75">Total Hours</td>
                                                        <td class="text-right"><span class="badge badge-info logbook-badge">{{ user_stats.total_hours }} hrs</span></td>
                                                </tr>
                                        </table>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<div class="row">
        <!-- Flashed or other message Area -->                       
        {% with error_messages = get_flashed_messages() %}                
                {% if error_messages %} 
                        <div id="message-area" class="col alert alert-warning m-3" role="alert">                                                                              
                        {% for message in error_messages %}
                                {{ message }}
                        {% endfor %}
                        </div> 
                {% endif %}
        {% endwith %}                        
</div>
<h5 class="mb-0">Filter Entries<i class="material-icons">arrow_downward</i></h5>
<form class="form-row my-1 align-items-center">
<!-- Table Filter Controls -->
        <div class="col-auto">
                <fieldset class="border p-2">
                        <legend class="m-0"><small class="text-muted">Date From/To</small></legend>
                        <div class="form-inline">
                                {% if set_filters %}
                                <input type="date" class="form-control mr-2" id="filter-controls-min-date" name="filter-min-date" aria-describedby="filter-controls-date-title" value="{{set_filters['filter-min-date']}}" placeholder="Date From">  
                                <input type="date" class="form-control mr-2" id="filter-controls-max-date" name="filter-max-date" aria-describedby="filter-controls-date-title" value="{{set_filters['filter-max-date']}}" placeholder="Date To">
                                {% else %}
                                <input type="date" class="form-control mr-2" id="filter-controls-min-date" name="filter-min-date" aria-describedby="filter-controls-date-title" value="1920-01-01" placeholder="Date From">  
                                <input type="date" class="form-control mr-2" id="filter-controls-max-date" name="filter-max-date" aria-describedby="filter-controls-date-title" value="" placeholder="Date To">
                                {% endif %}
                        </div>
                </fieldset>
        </div>
        <div class="col-auto mb-2 mb-lg-0">                
                <fieldset class="border p-2">
                        <legend class="m-0"><small class="text-muted">Area</small></legend>                              
                        <select class="form-control" id="filter-controls-select-area" name="filter-area">
                                {% if set_filters %}
                                <option value="{{set_filters['filter-area']}}" selected>{{ area_list[set_filters['filter-area']] }}</option>
                                <option value="">All Areas</option>
                                {% else %}
                                <option value="" selected>All Areas</option>
                                {% endif %}        
                                {% for area in area_list %}
                                <option value="{{ area }}">{{ area_list[area] }}</option>
                                {% endfor %}
                        </select>
                </fieldset>
        </div>
        <div class="col-md-2 text-center">
                <button type="submit" class="btn btn-success">Filter</button>
                <a href="{{ url_for('index') }}"><button type="button" class="btn btn-secondary">Reset</button></a>             
        </div>
</form>
<div class="row">
        <div class="col">
                <!-- Main Table of Log Entries -->
                <table class="table table-sm table-hover">
                        <thead>
                                <tr>
                                        <th scope="col" class="width-50px"></th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="d-none d-md-block">Area</th>
                                        <th scope="col">Entry Name</th>                                        
                                        <th scope="col" class="width-100px"></th>
                                </tr>
                        </thead>
                        <tbody>                                
                                <!-- Display entries in table, 1 row per entry -->                             
                                {% if user_entries.entries %}
                                        {% for entry in user_entries.entries %}
                                        <tr>
                                                <td>
                                                        <!-- More entry details button (to modal) -->
                                                        <button type="button" class="btn btn-outline-primary logbook-button more-button" data-toggle="modal" data-target="#modal-entry" data-entryid="{{ entry._id }}"><i class="material-icons">arrow_right</i></button>
                                                </td>
                                                <td>{{ entry.date.strftime('%d-%b-%Y') }}</td>
                                                <td class="d-none d-md-block">{{ area_list[entry.area_id] }}</td>
                                                <td>{{ entry.name }}</td>                                        
                                                <td>
                                                        <!-- Edit and delete buttons -->
                                                        <a href="{{ url_for('edit_entry', entry_id=entry._id) }}"><button type="button" class="btn btn-warning logbook-button"><i class="material-icons">edit</i></button></a>
                                                        <button type="button" class="btn btn-danger logbook-button" onclick="deleteEntry(`{{ url_for('delete', delete_type='entry', entity_id=entry._id) }}`)"><i class="material-icons">delete_forever</i></button>                                          
                                                </td>
                                        </tr>
                                        {% endfor %}
                                {% else %}
                                <tr><td colspan="5">No entries found</td></tr>
                                {% endif %}
                        </tbody>
                </table>
        </div>
</div>
<div class="row mb-2">
        <div class="col">
                <a href="{{ url_for('export', user_id=session['user_id']) }}" target="_blank"><button type="button" class="btn btn-outline-warning logbook-button"><i class="material-icons">save_alt</i></button></a>
                <small class="text-muted">Export all to CSV</small>
        </div>
        <div class="col text-right">
              <!-- Pagination Controls -->
                <small class="text-muted">Page: {{ user_entries.current_page }}</small>
                {% if user_entries.previous_page %}                
                <a href="{{ url_for('index', page=user_entries.previous_page) }}"><button class="btn btn-outline-dark logbook-button"><i class="material-icons">navigate_before</i></button></a>
                {% endif %}
                {% if user_entries.next_page %}                
                <a href="{{ url_for('index', page=user_entries.next_page) }}"><button class="btn btn-outline-dark logbook-button"><i class="material-icons">navigate_next</i></button></a>
                {% endif %}  
        </div>
</div>
{% endblock %}
{% block modals %}
<!-- Modal for full display of entry -->
<div class="modal fade" id="modal-entry" tabindex="-1" role="dialog" aria-labelledby="modal-entry-title"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="modal-entry-title">Entry - <span id="modal-data-name"><i class="material-icons animate-rotate">hourglass_empty</i></span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <!-- All data points from entry -->
                                <div class="container-fluid">                                                                       
                                        <div class="row">
                                                <div class="col-lg">
                                                        <table class="table table-bordered">
                                                                <tr>
                                                                        <td><small>Date</small></td>
                                                                        <td id="modal-data-date"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Area</small></td>
                                                                        <td id="modal-data-area_id"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Primary Terrain</small></td>
                                                                        <td id="modal-data-primary_terrain"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Duration</small></td>
                                                                        <td id="modal-data-duration"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Distance</small></td>
                                                                        <td id="modal-data-distance"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-lg">
                                                        <table class="table table-bordered">
                                                                <tr>
                                                                        <td><small>Highest Point</small></td>
                                                                        <td id="modal-data-highest_point_name"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td id="modal-highest_point_coords_system"></td>
                                                                        <td id="modal-highest_point_coords">
                                                                                <span id="modal-data-highest_point_os_grid"></span>
                                                                                <span id="modal-data-highest_point_os_eastings"></span>
                                                                                <span id="modal-data-highest_point_os_northings"></span>
                                                                                <span id="modal-data-highest_point_latitude"></span>
                                                                                <span id="modal-data-highest_point_longitude"></span>
                                                                                <i class="material-icons animate-rotate">hourglass_empty</i>
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Additional Summits</small></td>
                                                                        <td id="modal-data-additional_summits"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Weather</small></td>
                                                                        <td id="modal-data-weather"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Participation</small></td>
                                                                        <td id="modal-data-participation"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><small>Group Members</small></td>
                                                                        <td id="modal-data-group_members"><i class="material-icons animate-rotate">hourglass_empty</i></td>
                                                                </tr>
                                                        </table>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <small>Notes:</small>
                                                <div id="modal-data-notes" class="col"><i class="material-icons animate-rotate">hourglass_empty</i></div>
                                        </div>
                                </div>                                                              
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                                <a id="button-edit-entry-modal" href=""><button type="button"
                                                class="btn btn-warning">Edit</button></a>
                        </div>
                </div>
        </div>
</div>
{% endblock %}
{% block scripts %}
<script>
        // When page loaded, populate filter-max-date with today's date if not already set
        $(document).ready(function() {               
                if (!$('#filter-controls-max-date').val()) {
                        let todaysDate = new Date();
                        todaysDate = todaysDate.toISOString().slice(0,10);
                        $('#filter-controls-max-date').val(todaysDate);
                }
        })

        // On click of delete button, show a confirm button before going to delete url
        function deleteEntry(deleteUrl) {                
                if (confirm('Definitely delete this entry (cannot be undone)?')) {
                        document.location = deleteUrl;
                }
        }

        // On hover of table row, highlight button        
        $('tr').mouseenter(function() {
                console.log('mousenter');
        })

        // On click of table row call button
        $('tr').click(function() {
                console.log('click');                
        })

        // On modal call, populate modal with data via ajax
        $('#modal-entry').on('show.bs.modal', function () {                
                let entryId = $(event.target).parent().data('entryid'); // Get entry_id form entry attribute of button that triggered modal
                $.post("{{ url_for('get') }}", { 'entry_id': entryId, 'user_id': '', 'area_id': '' }, function (entryData) {
                        // If request for data successful then set contents of modal by key
                        for (const [key, value] of Object.entries(entryData)) {
                                if (value) {
                                        $(`#modal-data-${key}`).text(value);
                                } else {
                                        $(`#modal-data-${key}`).html('<em>No data</em>');
                                };
                        };
                        // Request area list and translate area_id in entry to area name
                        $.get("{{ url_for('areas') }}", function(areaData) {
                                let areaNameIndex = Object.values(areaData).findIndex(area_id => area_id == entryData.area_id);
                                let areaNames = Object.keys(areaData);
                                $('#modal-data-area_id').text(areaNames[areaNameIndex]);                                
                        })
                        // Hide coordinate values depending on system used
                        if (entryData.highest_point_os_grid) {
                                $('#modal-highest_point_coords_system').html('<small>OS</small>');                        
                                $('#modal-data-highest_point_latitude').hide();
                                $('#modal-data-highest_point_longitude').hide();
                        } else {
                                $('#modal-highest_point_coords_system').html('<small>Lat/Long</small>');
                                $('#modal-data-highest_point_os_grid').hide();
                                $('#modal-data-highest_point_os_eastings').hide();
                                $('#modal-data-highest_point_os_northings').hide();
                        }
                        $('#modal-data-highest_point_os_grid').siblings('i').hide();
                        // Update edit button link
                        let editButtonHref = "{{ url_for('edit_entry', entry_id='') }}";
                        $('#button-edit-entry-modal').attr('href', editButtonHref + entryData._id);
                })
        })
        // On modal close, reset coordinate elements
        $('#modal-entry').on('hide.bs.modal', function () {
                $('#modal-highest_point_coords').children().show();
        })
</script>
{% endblock %}