{% extends 'application-frame.html' %}
<!-- Main Logbook Home Page -->
{% block content %}
        <div class="row">
                <div class="col">
                        Meta section A
                </div>
                <div class="col">
                        Meta section B
                </div>
        </div>
        <div class="row">
                Search Bars
        </div>
        <div class="row">
                <div class="col">
                        <!-- Main Table of Log Entries -->
                        <table class="table">
                                <thead>
                                        <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Entry Name</th>
                                        <th scope="col">Edit/Delete Controls</th>
                                        </tr>
                                </thead>
                                <tbody>

                                </tbody>
                        </table>
                </div>
        </div>        
{% endblock %}