{% extends 'application-frame.html' %}
<!-- Main Logbook Home Page -->
{% block content %}
        <div class="row">
                <div class="col">
                        Meta section A <br>
                        USER ID: {{ session }}
                </div>
                <div class="col">
                        Meta section B
                </div>
        </div>
        <div class="row">
                Search Bars
        </div>
        <div class="row">
                <div class="col">
                        <!-- Main Table of Log Entries -->
                        <table class="table">
                                <thead>
                                        <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Entry Name</th>
                                        <th scope="col">More
                                                
                                        </th>
                                        <th scope="col">Edit/Delete Controls</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <!-- Display error_messages in table if there are any -->
                                        {% with error_messages = get_flashed_messages() %}
                                                {% if error_messages %}                                                                                       
                                                        {% for message in error_messages %}
                                                                <tr><td>{{ message }}</td></tr>
                                                        {% endfor %}
                                                {% endif %}
                                        {% endwith %}
                                        <!-- Display records in table, 1 row per record -->
                                        {% if user_records %}
                                                {% for record in user_records %}
                                                <tr>
                                                        <td>{{ record }}</td>
                                                        <td>{{ record }}</td>
                                                        <td>{{ record }}</td>
                                                        <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-record" data-recordid="{{ record }}">MORE</button></td>
                                                        <td>
                                                                <a href="{{ url_for('edit', record_id=record) }}"><button type="button" class="btn btn-warning">Edit</button></a>
                                                                <form action="{{ url_for('delete', record_id=record) }}" method="POST">
                                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                                </form>
                                                        </td>
                                                </tr>
                                                {% endfor %}
                                        {% endif %}
                                </tbody>
                        </table>
                </div>
        </div>        
{% endblock %}
{% block modals %}
    <!-- Modal for full display of record -->
    <div class="modal fade" id="modal-record" tabindex="-1" role="dialog" aria-labelledby="modal-record-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-record-title">Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- All data points from record -->
                    Date: <br>
                    Name: <br>
                    Hieght: <br>
                    <span id="record"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
        // Populate modal with data from ajax call
        $('#modal-record').on('show.bs.modal', function () {
                let recordId = $(event.target).data('recordid'); // Get record_id form record attribute of button that triggered modal
                $('#record').load("{{ url_for('get', record_id='') }}" + recordId);
        })
</script>
{% endblock %}