{% extends 'base.html' %}
<!-- Login Page -->
{% block main %}
    <div class="row">
        <div class="col-md-8 col-lg-6 bg-light mx-1 mx-md-auto rounded">
            <h2>Welcome to the Mountain Logbook Online</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad itaque quas, libero unde, soluta ex obcaecati aspernatur totam perspiciatis illo accusamus atque blanditiis possimus sit vitae aperiam eaque iste. Dolore eveniet a nobis saepe, eius, quaerat voluptatem aut dolores rem fugit doloribus deleniti ut cumque tenetur vitae, quas iusto pariatur? Cupiditate non veniam nostrum sed, id error vel, voluptate voluptatum quaerat omnis ut natus rerum excepturi temporibus officiis suscipit expedita possimus itaque quisquam vero maiores eligendi? Aliquam sunt impedit doloribus reiciendis modi molestias vero, eveniet rem nisi optio eligendi porro voluptates tempore? Ducimus amet ad, odit consequatur consequuntur quos qui!</p>
            <form class="py-2">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>                    
                <button type="submit" class="btn btn-success">Login</button>
                <button type="submit" class="btn btn-warning">Sign-Up</button>
            </form>
        </div>
    </div>
{% endblock %}