{% extends 'base.html' %}
<!-- Login Page -->
{% block main %}
<div class="row">
    <div class="col-md-8 col-lg-6 bg-light mx-1 mx-md-auto rounded">
        <div class="jumbotron text-center mt-3 mb-3 bg-primary">
                <h2 class="display-4">Welcome</h2>                
                <h3><small>The Mountain Logbook Online</small></h3>
        </div>
        <h4 class="text-center mb-3"><strong>Login or sign-up below <i class="material-icons">arrow_downward</i></strong></h4>
        <p class="text-justify">The Mountain Logbook is an application for recording your mountain (or other!) walking trips. Keep a record of your outings for personal interest or as a way of logging that all important experience for future walking qualifications.</p>
        <p class="text-justify mb-0">Use of the Mountain Logbook is free and only requires an email address to identify your account. The only personal data we store about you is that which you enter yourself.</p>
        <h6 class="text-right pb-3">Enjoy <i class="material-icons">tag_faces</i></h6>
        <p class="text-center">
            <em>Login with <strong>demo@daveb.me.uk</strong> for some example content.</em>
        </p>
        <!-- Flashed or other message Area -->                       
        {% with error_messages = get_flashed_messages() %}                
                {% if error_messages %} 
                        <div id="message-area" class="alert alert-warning m-3" role="alert">                                                                              
                        {% for message in error_messages %}
                                {{ message }}
                        {% endfor %}
                        </div> 
                {% endif %}
        {% endwith %}
        <!-- Login Form -->
        <form class="py-2" method="POST" id="form-login" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="login-email" class="sr-only">Login Email Address</label>
                <input type="email" class="form-control form-control-lg" id="login-email" name="login-email"
                    placeholder="Enter email" required>
            </div>
            <div class="row text-center pb-3">
                <div class="col">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
                <div class="col">                  
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-signup">Sign-Up</button>
                </div>
            </div>
        </form>
        <p class="text-center">For help, contact <a href="mailto:the-mountain-logbook@daveb.me.uk">the-mountain-logbook@daveb.me.uk</a></p>
    </div>
</div>
{% endblock %}
{% block modals %}
    <!-- Modal for sign-up -->
    <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-signup-title">Create A New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Sign-up form -->
                    <form id="form-signup" method="POST" action="{{ url_for('create', create_type='user') }}">
                        <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="signup-email" name="signup-email"
                                placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="display-name" class="sr-only">Enter display name</label>
                            <input type="text" class="form-control form-control-lg" id="display-name" name="display-name" placeholder="Choose a display name" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button form="form-signup" type="submit" class="btn btn-primary">Sign-Up</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    // Populate email field in signup form with email from login form (if entered)
    $('#modal-signup').on('show.bs.modal', function () {
        $('#signup-email').val($('#login-email').val());
    })
</script>
{% endblock %}