{% extends 'application-frame.html' %}
<!-- Logbook Add or Edit Entry -->
{% block content %}
    <div class="row">
        <div class="col py-2">
            <!-- Form to add or edit the entry/entry -->
            <!-- If editing an existing entry action calls update function else call create function -->
            {% if entry %}
            <form action="{{ url_for('update', update_type='entry', entity_id=entry._id) }}" method="POST">
            {% else %}
            <form action="{{ url_for('create', create_type='entry') }}" method="POST">
            {% endif %}
                <div class="form-group">
                    <!-- Entry Name -->
                    <label for="input-entry-name" class="form-required">entry name</label>
                    <input type="text" class="form-control form-control-lg" id="input-entry-name" name="name" placeholder="Inspired title for your entry..." value="{{ entry.name }}" required>
                </div>                                           
                <div class="form-row">                    
                    <div class="col-lg px-lg-4">
                        <div class="form-group">
                            <!-- Date -->
                            <label for="input-date" class="form-required">date</label>
                            <input type="date" class="form-control" id="input-date" name="date" value="{{ entry.date }}" required>
                        </div>
                        <!-- Area -->
                        <div class="form-group">
                            <label for="select-area-name" class="form-required">area</label>
                            <select class="form-control" id="select-area-name" name="area_id" required>                                        
                                <!-- Populate the select with area from the entry if exist then add other options from DB, otherwise display an error message -->
                                {% if entry %}
                                    <option value="{{ entry.area_id }}" selected>{{ area_list[entry.area_id] }}</option>
                                {% else %}
                                    <option value="" selected disabled hidden>Select an area...</option>
                                {% endif %}
                                {% if area_list %}                    
                                    {% for area_id, area_name in area_list.items() %}                                                                                                          
                                    <option value="{{ area_id }}">{{ area_name }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option disabled>Sorry, no areas found</option>
                                {% endif %}                        
                            </select>
                            <!-- Add new area button (to modal) -->
                            <div class="text-right mt-2">
                                <button type="button" class="btn btn-warning pt-0" data-toggle="modal" data-target="#modal-add-new-area"><i class="material-icons">playlist_add</i>Add New</button>
                            </div>                            
                        </div>                                        
                        <div class="form-group">
                            <!-- Primary Terrain -->
                            <label for="select-primary-terrain" class="form-required">primary terrain</label>
                            <select class="form-control" id="select-primary-terrain" name="primary_terrain" required>
                                {% if entry %}
                                    <option value="{{ entry.primary_terrain }}" selected>{{ entry.primary_terrain|capitalize }}</option>
                                {% else %}
                                    <option value="" selected disabled hidden>Select terrain...</option>
                                {% endif %}
                                <option value="mountain">Mountain</option>
                                <option value="hill">Hill</option>
                                <option value="moorland">Moorland</option>
                                <option value="coastal">Coastal</option>
                                <option value="other">Other</option>                        
                            </select>                    
                        </div>
                        <div class="form-group">
                            <!-- Duration -->
                            <label for="input-duration">duration (hours)</label>
                            <input type="range" class="custom-range" id="input-duration" name="duration" min="1" max="24" step="1" value="{{ entry.duration }}">
                            <div class="text-center"><span class="" id="feedback-duration-value">*</span> hrs</div>
                        </div>
                        <div class="form-group">
                            <!-- Distance -->
                            <label for="input-distance">distance (km)</label>
                            <input type="number" class="form-control" id="input-distance" name="distance" value="{{ entry.distance }}">                 
                        </div>
                    </div>
                    <div class="d-none d-lg-inline border-left"></div>
                    <div class="col-lg px-lg-4">
                        <!-- Highest Point -->
                        <div class="form-group">
                            <label for="input-highest-point-name">main summit name</label>
                            <input type="text" class="form-control" id="input-highest-point-name" name="highest_point_name" placeholder="E.g. highest point" value="{{ entry.highest_point_name }}">
                            <div class="form-row align-items-center mt-1">
                                <div class="col-3">                              
                                    <div class="custom-control custom-switch">                                  
                                        <input type="checkbox" class="custom-control-input" id="switch-os-latlong" onchange="toggleHighestPointCoords();">
                                        <label class="custom-control-label" for="switch-os-latlong"><small>OS Grid Ref or Lat/Long</small></label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div id="inputs-highest-point-os" class="form-inline">
                                        <input type="text" class="form-control" id="input-os-grid" name="highest_point_os_grid" placeholder="Grid" size="2" maxlength="2" value="{{ entry.highest_point_os_grid }}">
                                        <input type="number" class="form-control" id="input-os-eastings" name="highest_point_os_eastings" placeholder="Eastings" value="{{ entry.highest_point_os_eastings }}">
                                        <input type="number" class="form-control" id="input-os-northings" name="highest_point_os_northings" placeholder="Northings" value="{{ entry.highest_point_os_northings }}">
                                    </div>
                                    <div id="inputs-highest-point-latlong" class="form-inline">                        
                                        <input type="number" class="form-control" id="input-latitude" name="highest_point_latitude" placeholder="Latitude" step="any" value="{{ entry.highest_point_latitude }}">
                                        <input type="number" class="form-control" id="input-longitude" name="highest_point_longitude" placeholder="Longitude" step="any" value="{{ entry.highest_point_longitude }}">
                                    </div>
                                </div>
                            </div>                        
                        </div>                        
                        <div class="form-group">
                            <!-- Additional Summits -->
                            <label for="textarea-additional-summits">additional summits</label>
                            <textarea class="form-control" id="textarea-additional-summits" name="additional_summits" rows="3">{{ entry.additional_summits }}</textarea>                    
                        </div>
                        <div class="form-group">
                            <!-- Weather -->
                            <label for="input-weather">weather</label>
                            <input type="text" class="form-control" id="input-weather" name="weather" placeholder="A short description..." value="{{ entry.weather }}">                    
                        </div>
                        <div class="form-group">
                            <!-- Participation -->
                            <label for="select-participation" class="form-required">participation</label>
                            <select class="form-control" id="select-participation" name="participation" required>
                                {% if entry %}
                                    <option value="{{ entry.participation }}" selected>{{ entry.participation|capitalize }}</option>
                                {% else %}
                                    <option value="" selected disabled hidden>Select participation...</option>
                                {% endif %}
                                <option value="leader">Leader</option>
                                <option value="assistant leader">Assistant Leader</option>
                                <option value="group member">Group Member</option>
                                <option value="casual">Casual</option>                        
                            </select>                    
                        </div>
                        <div class="form-group">
                            <!-- Group Members -->
                            <label for="textarea-group-members">group members</label>
                            <textarea class="form-control" id="textarea-group-members" name="group_members" rows="3">{{ entry.group_members }}</textarea>                    
                        </div>
                    </div>
                </div>            
                <div class="form-group">
                    <!-- Notes -->                    
                    <label for="textarea-notes">notes</label>
                    <textarea class="form-control" id="textarea-notes" name="notes" rows="15">{{ entry.notes }}</textarea>
                </div>
                <div class="form-row">
                    <div class="col">
                        <a href="{{ url_for('index') }}" class="btn btn-danger">Back</a>
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>                                                                                   
            </form>
        </div>        
    </div>        
{% endblock %}
{% block modals %}
    <!-- Modal to add new area -->
    <div class="modal fade" id="modal-add-new-area" tabindex="-1" role="dialog" aria-labelledby="modal-area-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-area-title">Add an Area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form to add an area name to DB -->
                    <form id="form-new-area" onsubmit="return addNewArea(this);">
                        <div class="form-group">
                            <label for="input-new-area-name">area name</label>
                            <input type="text" class="form-control" id="input-new-area-name" name="area_name" placeholder="Enter an area name" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button form="form-new-area" type="submit" class="btn btn-warning">Add</button>                  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    // Disable standard form submit behavour (don't reload page)
    $('#form-new-area').submit(function(event){
        event.preventDefault();
    });

    // Setup for to show only OS grid input elements to start with unless lat/long supplied in edit
    if ($('#input-latitude').val()) {
        $('#inputs-highest-point-os').hide();
        $('#switch-os-latlong').prop('checked', true);        
    } else {
        $('#inputs-highest-point-latlong').hide();
    }
    
    // Create ajax call to add new area to DB, close modal and update page
    function addNewArea(newAreaForm) {
        let newAreaName = newAreaForm.area_name.value;
        let createAreaUrl = "{{ url_for('create', create_type='area') }}"
        $.post(createAreaUrl, {'name' : newAreaName}, function(result) {                        
            // If post request successful then close modal and add get new area id to add to select
            $('#modal-add-new-area').modal('hide')
            $.get('{{ url_for("areas") }}', function(areaDict) {
                $('#select-area-name').append(`<option value="${areaDict[newAreaName]}" selected>${newAreaName}</option>`)
            });   
        })      
    }

    // Toggle the coordinate system used to entry highest point between OS and Lat/Long
    function toggleHighestPointCoords() {
        let switchChecked = $('#switch-os-latlong').prop('checked');
        if (switchChecked) {
            // If checked hide os and show lat/long inputs and remove any os
            $('#inputs-highest-point-os').hide();
            $('#inputs-highest-point-latlong').show();
            $('#inputs-highest-point-os :input').val(null);
        } else {
            $('#inputs-highest-point-os').show();
            $('#inputs-highest-point-latlong').hide();
            $('#inputs-highest-point-latlong :input').val(null);
        }
    }

    // Feedback currently selected duration in form range input to start and on change
    $('#feedback-duration-value').text($('#input-duration').val());
    $('#input-duration').change(function() {
        $('#feedback-duration-value').text($(this).val());
    })
</script>
{% endblock %}