{% extends 'application-frame.html' %}
<!-- Logbook Add or Edit Entry -->
{% block content %}
    <div class="row">
        <div class="col">
            <!-- If editing an existing record call update function else call create function -->
            {% if record %}
            <form action="{{ url_for('update', update_type='record', entity_id=record) }}" method="POST">
            {% else %}
            <form action="{{ url_for('create', create_type='record') }}" method="POST">
            {% endif %}                        
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="emailtest" aria-describedby="emailHelp" placeholder="Enter email" value="{{ record }}">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{ record }}">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>        
    </div>        
{% endblock %}