{% extends 'application-frame.html' %}
<!-- View Entries submitted by others -->
{% block content %}
    <div class="row">
        <div class="col col-lg-8 m-auto">
        <h4 class="text-center mb-3"><strong>See what other users have been up to <i class="material-icons">arrow_downward</i></strong></h4>
        <p class="text-center">Take a look at other users’ entries in The Mountain Logbook (select by area).</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-8 m-auto">
            <!-- Dropdown to select mountain area of interest -->
            <form>
                <div class="form-group">
                    <label for="select-form-area-name">Select area</label>
                    <select class="form-control" id="select-form-area-name" name="area_id" onchange="getAreaEntries()" required>
                        <option selected disabled hidden>Select an area...</option>
                        <!-- If area list exists populate the select, otherwise display an error message -->
                        {% if area_list %}
                            {% for area in area_list %}
                            <option value="{{ area._id }}">{{ area.name }}</option>
                            {% endfor %}
                        {% else %}
                            <option disabled><em>Sorry, no areas found</em></option>
                        {% endif %}                        
                    </select>
                </div>
            </form>
        </div>        
    </div>
    <div class="row">
        <div class="col col-lg-8 m-auto">            
            <!-- Table of Log Entries for Selected Area -->
            <table class="table table-sm">
                <thead>
                    <tr>                            
                            <th scope="col">Date</th>
                            <th scope="col">User</th>
                            <th scope="col">Entry Name</th>
                            <th class="d-none d-md-block" scope="col">Main Summit</th>                                                                  
                    </tr>
                </thead>
                <tbody id="table-body">                                
                    <!-- JS inserted table rows -->                          
                    <tr id="table-no-entries-row"><td colspan="3">No entries found</td></tr>                    
                </tbody>
            </table>
        </div>
    </div>        
{% endblock %}
{% block scripts %}
<script>
    // Disable standard form submit behavour (don't reload page)
    $(document).submit(function(event){
        event.preventDefault();
    });

    // Create ajax call to get Entries per area and update page
    function getAreaEntries() {
        // Reset table
        $('#table-body .table-entries-row').remove();
        $('#table-no-entries-row').show();
        let areaIdSelected = $('#select-form-area-name').val()      
        $.post("{{ url_for('get') }}", {'entry_id' : '', 'user_id' : '', 'area_id' : areaIdSelected}, function(result) {                        
            // If request for data successful then set contents of page                                                    
            let jsonResult = JSON.parse(result) 
            console.log(jsonResult)                                 
            if (jsonResult.length) {
                $('#table-no-entries-row').hide();
            }
            // Request user list to translate user_id into display name
            $.get("{{ url_for('users') }}", function(userData) {                                   
                for (entry in jsonResult) {
                    let userId = jsonResult[entry].user_id;
                    // For each entry retrieved display a row
                    let entryDate = new Date(jsonResult[entry].date['$date']);
                    $('#table-body').append(`<tr class="table-entries-row">
                        <td>${entryDate.toDateString()}</td>
                        <td>${userData[userId]}</td>
                        <td>${jsonResult[entry].name}</td>
                        <td class="d-none d-md-block">${jsonResult[entry].highest_point_name}</td>
                        </tr>`);
                }                               
            })
        })
    }
</script>
{% endblock %}