{% extends 'application-frame.html' %}
<!-- View records submitted by others -->
{% block content %}
    <div class="row">
        <div class="col">
            <!-- Dropdown to select mountain area of interest -->
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Mountain Area</label>
                    <select class="form-control" id="select-form-area-name" name="area_id" onchange="getAreaRecords()" required>
                        <option selected disabled hidden>Select an area...</option>
                        <!-- If area list exists populate the select, otherwise display an error message -->
                        {% if area_list %}
                            {% for area in area_list %}
                            <option value="{{ area.area_id }}">{{ area.area_name }}</option>
                            {% endfor %}
                        {% else %}
                            <option disabled>Sorry, no areas found</option>
                        {% endif %}                        
                    </select>
                </div>
            </form>
        </div>        
    </div>
    <div class="row">
        <div id="table-records"></div>
    </div>        
{% endblock %}
{% block scripts %}
<script>
    // Disable standard form submit behavour (don't reload page)
    $(document).submit(function(event){
        event.preventDefault();
    });

    // Create ajax call to get records per area and update page
    function getAreaRecords() {
        let areaIdSelected = $('#select-form-area-name').val()        
        //console.log(areaForm.area_id.value)
        $.post("{{ url_for('get') }}", {'record_id' : '', 'user_id' : '', 'area_id' : areaIdSelected}, function(result) {                        
                        // If request for data successful then set contents of page
                        $('#table-records').text(result)
                })
    }
</script>
{% endblock %}